<!DOCTYPE html>
<html>
<head>
    <title>Lab 9 - Task 6</title>
</head>
<body>
    <h2>Publishers Book Count (Price > 50 & 1 <= Qty < 5)</h2>
    
    <table border="1">
        <tr>
            <th>Publisher Name</th>
            <th>Total Books (Filtered)</th>
        </tr>
        
        {% for pub in publishers %}
        <tr>
            <td>{{ pub.name }}</td>
            <td>{{ pub.total_books }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <br>
    <a href="/books/lab9/task5">Back to Task 5</a>
</body>
</html>