<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>{% block title %} Library Project {% endblock title %}</title>
    <link rel="icon" href="{% static 'qu-icon.png' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}"> 
    {% block stylesheets %}{% endblock stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    {% include "includes/header.html" %}

    <div style="padding: 20px;">
        {% block content %} 
        {% endblock content %}
    </div>

    {% include "includes/footer.html" %}
</body>
</html>