{% extends 'cyber_project/base.html' %}
{% load static %}

{% block content %}
<div class="py-5 text-center">
    <h2 class="mb-4 text-info font-monospace">Threat Encyclopedia</h2>
    <div class="table-responsive">
        <table class="table table-dark table-hover border border-secondary shadow">
            <thead>
                <tr class="table-dark">
                    <th class="py-3">Threat Name</th>
                    <th class="py-3">Risk Level</th>
                    <th class="py-3">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for threat in threats %}
                <tr>
                    <td class="fw-bold text-info py-3">
                        {{ threat.name|truncatechars:25 }} 
                    </td>
                    <td class="py-3">
                        <span class="badge badge-{{ threat.risk_level }}">{{ threat.risk_level }}</span>
                    </td>
                    <td class="text-light py-3 text-start">{{ threat.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}